{% extends "base.html" %}

{% block content %}
  <h1>
    TODO list
    <a class="btn btn-primary float-right" href="{% url 'tasks:task-create' %}" role="button">
      Add task
    </a>
  </h1>

  <br>

  {% if task_list %}
    <ul class="todo-list">
      {% for task in task_list %}
        <li>
          <strong>{{ task.task }}</strong>

          {% if task.done %}
            <strong style="color: green">Done</strong>
            <a class="btn btn-secondary float-right" href="{% url 'tasks:task_change_done_status' pk=task.id %}" role="button">
              Undo
            </a>
          {% else %}
            <strong style="color: red">Not done</strong>
            <a class="btn btn-success float-right" href="{% url 'tasks:task_change_done_status' pk=task.id %}" role="button">
              Complete
            </a>
          {% endif %}

          <br>

          Created: {{ task.created_at }}
          {% if task.deadline %}
            <span style="color: darkred">Deadline: {{ task.deadline }}</span>
          {% endif %}

          <br>

          <span class="text-muted">
            Tags: {% for tag in task.tags.all %} {{ tag.name }} {% endfor %}
          </span>
          <a href="{% url 'tasks:task-update' pk=task.id %}">Update</a>
          <a href="{% url 'tasks:task-delete' pk=task.id %}">Delete</a>

          <hr>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no tasks in list</p>
  {% endif %}

{% endblock %}
